# Studying the Impact of Diabetes on the Human Body
&#x1F3E5;
---

### Data Cleaning

##### Import the required libraries

In [2]:
import pandas as pd

##### Load the data

In [3]:
raw_data = pd.read_csv('..\diabetes_data.csv')

##### Inspect the data

In [10]:
# Data overview
print('Data Overview:')
raw_data.head()

Data Overview:

,gender,age,hypertension,diabetes_pedigree_function,diet_type,star_sign,BMI,weight,family_diabetes_history,social_media_usage,physical_activity_level,sleep_duration,stress_level,pregnancies,alcohol_consumption,diabetes
0,female,NaN,NaN,0.37,paleo,NaN,NaN,197.7,NaN,Occasionally,Sedentary,1.5,Low,NaN,light,1.0
1,male,59.0,0.0,0.73,NaN,Leo,17.1,156.5,0.0,Occasionally,Lightly Active,5.4,Moderate,0.0,none,1.0
2,female,31.0,NaN,NaN,NaN,NaN,22.5,137.8,NaN,Occasionally,Lightly Active,7.6,Low,0.0,light,1.0
3,female,81.0,1.0,0.37,pescatarian,NaN,NaN,108.2,0.0,NaN,Sedentary,7.7,Low,1.0,heavy,NaN
4,NaN,64.0,0.0,0.55,carnivore,NaN,NaN,179.7,NaN,Occasionally,Sedentary,7.8,NaN,0.0,heavy,1.0

In [15]:
# Column Information
print('Column Information:')
print('\n')
raw_data.info()

Column Information:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   gender                      79954 non-null  object
 1   age                         80145 non-null  float64
 2   hypertension                80169 non-null  float64
 3   diabetes_pedigree_function  80120 non-null  float64
 4   diet_type                   79939 non-null  object
 5   star_sign                   79806 non-null  object
 6   BMI                         79934 non-null  float64
 7   weight                      80126 non-null  float64
 8   family_diabetes_history     79863 non-null  float64
 9   social_media_usage          79968 non-null  object
 10  physical_activity_level     80032 non-null  object
 11  sleep_duration              80063 non-null  float64
 12  stress_level                80024 non-null  object
 13  pregnancies                 80033 non-null  float64
 14  alcohol_consumption         79896 non-null  object
 15  diabetes                    80242 non-null  float64
dtypes: float64(9), object(7)
memory usage: 12.2+ MB

In [23]:
# Rows Information
print('Total Number of Rows: ' + str(len(raw_data)))

Total Number of Rows: 100000

In [27]:
# Identifying numerical variables versus number-encoded categorical variables
print('Number-encoded Variables Review:')
raw_data.select_dtypes(include='number').agg(['min', 'median', 'max'])

Number-encoded Variables Review:

,age,hypertension,diabetes_pedigree_function,BMI,weight,family_diabetes_history,sleep_duration,pregnancies,diabetes
min,18.0,0.0,0.2,1.8,50.0,0.0,0.0,0.0,0.0
median,45.0,0.0,0.5,27.0,150.9,0.0,5.3,0.0,1.0
max,91.0,1.0,0.8,53.1,250.0,1.0,12.0,5.0,1.0

In [33]:
#Confirm number-encoded categorical variables
print(raw_data['hypertension'].value_counts())
print('\n')
print(raw_data['family_diabetes_history'].value_counts())
print('\n')
print(raw_data['diabetes'].value_counts())

hypertension
0.0    63955
1.0    16214
Name: count, dtype: int64


family_diabetes_history
0.0    55731
1.0    24132
Name: count, dtype: int64


diabetes
1.0    76626
0.0     3616
Name: count, dtype: int64

By studying the results above, it is possible to concluded that:
- `age`, `diabetes_pedrigree_function`, `BMI`, `weight`, `sleep_duration`, and `pregnancies` are numerical variables 
- `hypertension`, `family_diabetes_history`, and `diabetes` are categorical variables enconded as 1 and 0
- `gender`, `diet_type`, `star_sign`, `social_media_usage`, `physical_activity_level`, `stress_level`, and `alcohol_consumption` are categorical variables

In [34]:
# Numerical Variables Statistics
print('Numerical Variables Statistics:')
raw_data[['age','diabetes_pedigree_function', 'BMI', 'weight', 'sleep_duration', 'pregnancies']].describe()

Numerical Variables Statistics:

,age,diabetes_pedigree_function,BMI,weight,sleep_duration,pregnancies
count,80145.000000,80120.000000,79934.000000,80126.000000,80063.000000,80033.000000
mean,45.107306,0.500877,26.978545,150.526618,5.295149,0.758212
std,18.550434,0.173783,6.005039,57.731539,2.842133,1.281326
min,18.000000,0.200000,1.800000,50.000000,0.000000,0.000000
25%,27.000000,0.350000,22.900000,100.300000,3.300000,0.000000
50%,45.000000,0.500000,27.000000,150.900000,5.300000,0.000000
75%,60.000000,0.650000,31.000000,200.400000,7.000000,1.000000
max,91.000000,0.800000,53.100000,250.000000,12.000000,5.000000

##### Data Inspection Notes
- Diabetes Pedigree Function: is a functions that scores the probability of diabetes based on family history